<div id="parent-section">
    <section data-v-7ef9e612="" data-v-88322036="" class="license-results">
        <form action="/" method="post" id="eventForm">
            <div id="sr-hub-license-results" class="sr-hub-license-results">
                <div data-v-4e9f4c1e="" class="entryPoint">
                    <div data-v-0a4bb069="" data-v-4e9f4c1e="" class="step-connexion">
                        <div data-v-0a4bb069="" class="section-content">
                            <div data-v-0a4bb069="" class="content__item">
                                <div data-v-0a4bb069="">
                                    <img data-v-0a4bb069="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAeFBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf///9K0KyrAAAAJnRSTlMAAP79/Pr5+Pf29fTz8fDv7fvy7uyqcW5wb2xqaWhrCAUGB2YDcsGXpwgAAAABYktHRAH/Ai3eAAAAuElEQVRIx+3Q2xKCIBSFYUJBUQEPpZXZOd//EdtA02wnGb3qinX9secfyDgddYvs4pgxxpM0SUWWF1LpciTj/APqfGV9KsDXtdbNOg8cvPR7lOPuZ3lWSN14ez7e9nObD/eV31PHY8N5Ajmmf8HDi4p9+4tazfXQiXc9QrgeXXp9hHpMPpyH72+2vz0LQ37Xdnu8A6yzO5r1fX8aWuTPl+ttaXfkH2Rum+mQH57BBx988MH/w7/W+DeK2mduc/QDegAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wOC0yOFQxMjo1MjoxNiswMDowMEo/diQAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDgtMjhUMTI6NTI6MTYrMDA6MDA7Ys6YAAAAAElFTkSuQmCC" aria-hidden="true" class="corner"><img data-v-0a4bb069="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAeFBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf///9K0KyrAAAAJnRSTlMAAO3v8PHz9PX29/j5+vz9/u7y++xxaGlqbG5vcKoHBgUIa2YDcgq1GOwAAAABYktHRAH/Ai3eAAAAuklEQVRIx+2QyxaCIBBATcQEkdTSyB729P8/sYHpFJ4DmZtW3PVluDPREJOEpsuM8ZznoigKKVeGEhnGRENFSF2Dz7jx1+iXbh19Cr5+8JMfV4SmmQ7CnnGQy09gvllAYL+0+p2+7ocg8IXxpXdd7Enq9N0PC3w5j/Zjgj2MCeuepe+eG5hPzQe4wKvHe/95RE27VUrtNJ1hDxxsuuZo+ad+ivPlavlTLIDbPP/eBj/4wQ9+8P/iPz7+E0zVay0qNcgmAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA4LTI4VDEyOjUyOjIwKzAwOjAwp2BE/QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wOC0yOFQxMjo1MjoyMCswMDowMNY9/EEAAAAASUVORK5CYII=" aria-hidden="true" class="corner">
                                    <img data-v-0a4bb069="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf////uYCr2AAAALXRSTlMAAG0EaQNoZgFyFA8RELuMiouJiIeGhYSDjv79/Pr5+Pf29fPy8fDu7ev07/vU5BpoAAAAAWJLR0QB/wIt3gAAAMFJREFUSMftz9saQkAUhmHtN5KRUhGaMTYx7v/2mkV2NTx0PN/j8LX8lLxuvlAEzbopjV+upvm19NJLL730f/nNdprf7dWDKK1M5Y+qtfxRR4ah60YVQugEmeYZuljW9XZv+VF9e7vM4T14rut5/hMTEtAwipNXny9ecMDzFzDGJE1pmCXJj887noHn98sPZPGgr/Z4PuckpTTq9585xf3iB2BPv3ea+bAHPAkG99j1B/gcOB/w8yIvyi4PMcbG+VZv50KIVIMTEbwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDgtMjhUMTI6NTI6MTQrMDA6MDDdoGcNAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA4LTI4VDEyOjUyOjE0KzAwOjAwrP3fsQAAAABJRU5ErkJggg==" aria-hidden="true" class="corner"><img data-v-0a4bb069="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf////uYCr2AAAALXRSTlMAAARtA2loAWYQDxEUco6DhIWGh4iJiouMu+vt7vDx8vP19vf4+fr8/f7v9Pvk+D8OAAAAAWJLR0QB/wIt3gAAAMVJREFUSMft0NkSgiAUgGFt11bL0HJBKM0U3v/1OshYOFKOXfOPV/oJByxrINu2J1P+bogLP5uP9AvjjTfeeOP/8cuV4h3XdRx4mta63M1W8bv9wfOOJ5Hvn0UIoaAtDIMAhRfF83FZ/BrFSYozQujtnudF8YBK6Cnr+SiqUlzXhFIqeCF1yzU+ruTyYn3wrOO5xicY1wR+gHE+8/zych45PqyvbsC182REeDlPe4Dyq4cNsubAwrPO7Wg8Y0y+7n3T3/+4Xr9vjDkt0ZjMAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA4LTI4VDEyOjUyOjE0KzAwOjAw3aBnDQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wOC0yOFQxMjo1MjoxNCswMDowMKz937EAAAAASUVORK5CYII=" aria-hidden="true" class="corner">
                                </div>
                                <div data-v-0a4bb069="" class="">
                                    <p data-v-0a4bb069="" class="small-text">*Champs obligatoires</p>
                                </div>
                                <div data-v-0a4bb069="" class="neph-input">
                                    <label data-v-0a4bb069="" for="license">N° de dossier Code NEPH*</label>
                                    <input data-v-0a4bb069="" name="license" placeholder="000000000000" autocomplete="on" type="text"
                                           id="license" class="input-search" aria-required="true" aria-invalid="false">
                                    <p data-v-0a4bb069="" id="error-neph-license" class="error-neph"></p>
                                </div>
                                <div data-v-0a4bb069="" class="birthday-input ">
                                    <fieldset data-v-0a4bb069="">
                                        <legend data-v-0a4bb069="">Date de naissance*</legend>
                                        <div data-v-0a4bb069="" class="birthday-selector__content">
                                            <div data-v-0a4bb069="" class="birthday-selector__item">
                                                <label data-v-0a4bb069="" for="day" class="visibility-hidden">Jour de naissance</label>
                                                <input data-v-0a4bb069="" id="day" name="day" placeholder="JJ" type="text"
                                                       title="Jour de naissance" autocomplete="bday-day" class="birthday-input"
                                                       aria-required="true" aria-invalid="false">
                                            </div>
                                            <div data-v-0a4bb069="" class="birthday-selector__item">
                                                <label data-v-0a4bb069="" for="month" class="visibility-hidden">Mois de naissance</label>
                                                <input data-v-0a4bb069="" id="month" name="month" placeholder="MM" type="text"
                                                       title="Mois de naissance" autocomplete="bday-month" class="birthday-input"
                                                       aria-required="true" aria-invalid="false">
                                            </div>
                                            <div data-v-0a4bb069="" class="birthday-selector__item">
                                                <label data-v-0a4bb069="" for="year" class="visibility-hidden">Année de naissance</label>
                                                <input data-v-0a4bb069="" id="year" name="year" placeholder="AAAA" type="text"
                                                       title="Année de naissance" autocomplete="bday-year" class="birthday-input"
                                                       aria-required="true" aria-invalid="false">
                                            </div>
                                        </div><!---->
                                        <div data-v-0a4bb069="" class="error-birthday">
                                            <p data-v-0a4bb069="" id="error-date">
                                            </p><!----><!---->
                                        </div>
                                    </fieldset>
                                </div>
                                <div data-v-0a4bb069="" class="select-category">
                                    <label data-v-0a4bb069="" for="category">Catégorie du permis passé*</label>
                                    <div data-v-0a4bb069="">
                                        <select data-v-0a4bb069="" id="category" aria-label="Sélectionner une catégorie de permis"
                                                name="category" title="Sélectionner une catégorie de permis" class="">
                                            <option data-v-0a4bb069="" value="placeholder" selected="selected"
                                                    disabled="disabled">Sélectionner une catégorie
                                            </option>
                                            <option data-v-0a4bb069="" value="A">A</option>
                                            <option data-v-0a4bb069="" value="A1">A1</option>
                                            <option data-v-0a4bb069="" value="A2">A2</option>
                                            <option data-v-0a4bb069="" value="B">B</option>
                                            <option data-v-0a4bb069="" value="B1">B1</option>
                                            <option data-v-0a4bb069="" value="BE">BE</option>
                                            <option data-v-0a4bb069="" value="C">C</option>
                                            <option data-v-0a4bb069="" value="CE">CE</option>
                                            <option data-v-0a4bb069="" value="C1">C1</option>
                                            <option data-v-0a4bb069="" value="C1E">C1E</option>
                                            <option data-v-0a4bb069="" value="D">D</option>
                                            <option data-v-0a4bb069="" value="DE">DE</option>
                                            <option data-v-0a4bb069="" value="D1">D1</option>
                                            <option data-v-0a4bb069="" value="D1E">D1E</option>
                                            <option data-v-0a4bb069="" value="E">E</option>
                                        </select>
                                    </div>
                                </div><!---->
                                <div data-v-0a4bb069="" class="captcha">
                                    <div data-v-159c6f2b="" data-v-0a4bb069="" class="captcha">
                                        <label data-v-159c6f2b="" for="captcha" class="captcha-title">Captcha</label>
                                        <div data-v-159c6f2b="" class="captcha-wrapper">
                                            <div data-v-159c6f2b="" class="captcha-image_wrap">
                                                <img data-v-159c6f2b="" id="captcha_image" alt="CAPTCHA Image"
                                                     src="https://api.resultatspermis2.securite-routiere.gouv.fr/secure-image/captcha/251357165543?t=0.19691945552449686">
                                            </div>
                                            <div data-v-159c6f2b="" id="captcha_image_audio_div">
                                                <audio data-v-159c6f2b="" id="captcha_image_audio" preload="none" style="display: none;">
                                                    <source data-v-159c6f2b="" id="captcha_image_source_wav" type="audio/wav"
                                                            src="https://api.resultatspermis2.securite-routiere.gouv.fr/secure-image/audio/251357165543?t=0.22638668146163932">
                                                </audio>
                                            </div>
                                            <div data-v-159c6f2b="" id="captcha_image_audio_controls">
                                                <a data-v-159c6f2b="" role="presentation" title="Jouer la validation audio"
                                                   tabindex="-1" class="captcha_play_button"
                                                   href="https://api.resultatspermis2.securite-routiere.gouv.fr/secure-image/audio/251357165543?t=0.22638668146163932">
                                                    <label data-v-159c6f2b="" for="captcha_play_image" class="visually-hidden">
                                                        Jouer la validation audio
                                                    </label>
                                                    <input data-v-159c6f2b="" id="captcha_play_image"
                                                           name="captcha"
                                                           src="https://api.resultatspermis2.securite-routiere.gouv.fr/secure-image/assets/images/audio_icon.png"
                                                           alt="Jouer la validation audio" type="image" class="captcha_play_image">
                                                    <img data-v-159c6f2b="" src="https://api.resultatspermis2.securite-routiere.gouv.fr/secure-image/assets/images/loading.png"
                                                         alt="Loading audio" class="captcha_loading_image rotating" style="display: none;">
                                                </a>
                                                <noscript data-v-159c6f2b="">
                                                    Activer Javascript pour le contrôle audio
                                                </noscript>
                                            </div>
                                            <a data-v-159c6f2b="" href="#" role="presentation" title="Recharger l'image de validation"
                                               tabindex="-1" class="refresh_captcha" style="border: 0px;">
                                                <label data-v-159c6f2b="" for="captcha_reload_image" class="visually-hidden">
                                                    Recharger l'image de validation
                                                </label>
                                                <input data-v-159c6f2b="" id="captcha_reload_image"
                                                       src="https://api.resultatspermis2.securite-routiere.gouv.fr/secure-image/assets/images/refresh.png"
                                                       alt="Recharger l'image de validation" type="image">
                                            </a>
                                        </div>
                                        <input data-v-159c6f2b="" placeholder="CAPTCHA" id="captcha" name="captcha_value" aria-describedby="captcha-error"
                                               class="input_code">
                                    </div><!---->
                                </div>
                                <div data-v-0a4bb069="" class="submit-form-connexion">
                                    <button data-v-2ac4bf87="" data-v-0a4bb069="" type="submit" class="full yellow cta-round">
                                        Je vérifie mon résultat
                                    </button>
                                </div><!---->
                                <div data-v-0a4bb069="" class="error-submit">
                                    <p data-v-0a4bb069="" id="error-submit"></p>
                                </div>
                                <ul id="error-submit-parent" class="error-submit"></ul>
                            </div>
                            <div data-v-388e23a2="" data-v-0a4bb069="">
                                <p data-v-388e23a2="">Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés modifiée et au Règlement
                                    général sur la protection des données (RGPD), la Déléguée Interministérielle à la Sécurité Routière met en œuvre le programme « C’est
                                    permis » qui vise à recruter des jeunes conducteurs pour le programme de sensibilisation qui leur est destiné.Ce traitement a pour
                                    base de licéité la mission d'intérêt public (Art.6e) du RGPD). Ce traitement a été créé en 2021 par arrêté du 3 février 2004 relatif
                                    à la création de traitements automatisés d'informations nominatives sur le site Internet de la Sécurité Routière.</p><p data-v-388e23a2="">Il collecte les catégories de données suivantes : prénom, email, type du dernier permis obtenu, date de ce dernier
                                    permis.
                                </p>
                                <p data-v-388e23a2="">Ces données sont conservées pendant 36 mois.</p><p data-v-388e23a2="">Vos données ne sont accessibles qu’aux agents du Département de la Communication et de l’Information (DCI) ainsi qu’aux
                                    sous-traitants NP6, Numberly, BETC, Maecia et le SGAMI.</p><p data-v-388e23a2="">Pour exercer vos droits d’accès, de rectification, de limitation (Art.15, 16 et 18 du RGPD) et votre droit de définir des directives
                                    en cas de décès, vous devez adresser votre demande par courriel à
                                    <a data-v-388e23a2="" href="donnees-personnelles-dsr@interieur.gouv.fr">donnees-personnelles-dsr@interieur.gouv.fr</a>
                                    ou par courrier adressé au responsable de traitement, à savoir la DSR, à l’adresse postale suivante : Ministère de
                                    l’Intérieur-DSR/DCI-Place BEAUVAU-75800 Paris Cedex 08, en joignant une copie de votre pièce d’identité.</p><p data-v-388e23a2="">Conformément à l’article 21 du RGPD, vous avez le droit de vous opposer à tout moment au traitement des données vous concernant,
                                    en justifiant de raisons tenant à votre situation particulière. Le responsable de traitement peut toutefois refuser cette opposition
                                    s’il dispose de motifs légitimes et impérieux. Ce droit s’exerce de la même manière.</p><p data-v-388e23a2="">Ce traitement est contrôlé par le Délégué ministériel à la protection des données du Ministère de l’Intérieur (Délégué ministériel à
                                    la protection des données - Ministère de l’Intérieur, Place Beauvau, 75800 Cedex 08). Vous pouvez aussi déposer une réclamation
                                    auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL - 3 place de Fontenoy - TSA 80715 - 75334 PARIS Cedex
                                    07).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    // $('#download-certificate').click(function () {
    //     console.log('download is clicked =>')
    //     console.log(localStorage.getItem('license'));
    //     $.ajax({
    //         url: '/download',
    //         data: JSON.stringify({ license: 160638100251 }),
    //         contentType: "application/json; charset=utf-8",
    //         type: 'POST',
    //         responseType: 'arraybuffer',
    //         success: function(data) {
    //             console.log('-----data => ', data);
    //             const url = window.URL.createObjectURL(new Blob([data]));
    //             const link = document.createElement('a');
    //             link.href = url;
    //             link.setAttribute('download', 'file.pdf');
    //             document.body.appendChild(link);
    //             link.click();
    //             // window.open('/pdf/foo.pdf');
    //         }
    //     })
    // })
    $('#eventForm').submit(function (e) {
        e.preventDefault();
        const data = {
            license: document.getElementById("license").value,
            category: document.getElementById("category").value,
            day: document.getElementById("day").value,
            month: document.getElementById("month").value,
            year: document.getElementById("year").value
        }
        $.ajax({
            url: '/',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            success: function(data) {
                console.log('i am right here', data);
                if (data.errors) {
                    document.getElementById('error-neph-license').innerText = data.errors.license ? data.errors.license : '';
                    document.getElementById('error-date').innerText = data.errors.birthDate ;
                    document.getElementById('error-submit').innerText = 'Vérifiez que tous les champs sont valides';
                }
                // 1- call the search post query
                if (data.body) {
                    $.ajax({
                        url: '/license',
                        data: JSON.stringify(data.body),
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        success: function(data) {
                            // if scenario: failure
                            if (data.errors && data.errors.length) {
                                const ul = document.createElement("ul");
                                const parentLi = document.createElement("ol");
                                const li = document.createElement("li");
                                const secondLi = document.createElement("li");
                                parentLi.innerText = data.errors[0];
                                li.innerText = data.errors[1];
                                secondLi.innerText = data.errors[2];
                                ul.appendChild(parentLi);
                                ul.appendChild(li);
                                ul.appendChild(secondLi);
                                document.getElementById('error-submit').innerHTML = ul.innerHTML;
                            }
                            // success scenario
                            else {
                                const html = `<section data-v-7ef9e612="" data-v-88322036="" class="license-results">
                                                        <div id="sr-hub-license-results" class="sr-hub-license-results">
                                                            <div data-v-4e9f4c1e="" class="entryPoint">
                                                                <div data-v-9250de96="" data-v-4e9f4c1e="" class="step-download">
                                                                    <div data-v-9250de96="" class="section-content">
                                                                        <div data-v-9250de96="" class="content__item">
                                                                            <div data-v-9250de96="">
                                                                                <img data-v-9250de96="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAeFBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf///9K0KyrAAAAJnRSTlMAAP79/Pr5+Pf29fTz8fDv7fvy7uyqcW5wb2xqaWhrCAUGB2YDcsGXpwgAAAABYktHRAH/Ai3eAAAAuElEQVRIx+3Q2xKCIBSFYUJBUQEPpZXZOd//EdtA02wnGb3qinX9secfyDgddYvs4pgxxpM0SUWWF1LpciTj/APqfGV9KsDXtdbNOg8cvPR7lOPuZ3lWSN14ez7e9nObD/eV31PHY8N5Ajmmf8HDi4p9+4tazfXQiXc9QrgeXXp9hHpMPpyH72+2vz0LQ37Xdnu8A6yzO5r1fX8aWuTPl+ttaXfkH2Rum+mQH57BBx988MH/w7/W+DeK2mduc/QDegAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wOC0yOFQxMjo1MjoxNiswMDowMEo/diQAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDgtMjhUMTI6NTI6MTYrMDA6MDA7Ys6YAAAAAElFTkSuQmCC" aria-hidden="true" class="corner"><img data-v-9250de96="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAeFBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf///9K0KyrAAAAJnRSTlMAAO3v8PHz9PX29/j5+vz9/u7y++xxaGlqbG5vcKoHBgUIa2YDcgq1GOwAAAABYktHRAH/Ai3eAAAAuklEQVRIx+2QyxaCIBBATcQEkdTSyB729P8/sYHpFJ4DmZtW3PVluDPREJOEpsuM8ZznoigKKVeGEhnGRENFSF2Dz7jx1+iXbh19Cr5+8JMfV4SmmQ7CnnGQy09gvllAYL+0+p2+7ocg8IXxpXdd7Enq9N0PC3w5j/Zjgj2MCeuepe+eG5hPzQe4wKvHe/95RE27VUrtNJ1hDxxsuuZo+ad+ivPlavlTLIDbPP/eBj/4wQ9+8P/iPz7+E0zVay0qNcgmAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA4LTI4VDEyOjUyOjIwKzAwOjAwp2BE/QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wOC0yOFQxMjo1MjoyMCswMDowMNY9/EEAAAAASUVORK5CYII=" aria-hidden="true" class="corner"><img data-v-9250de96="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf////uYCr2AAAALXRSTlMAAG0EaQNoZgFyFA8RELuMiouJiIeGhYSDjv79/Pr5+Pf29fPy8fDu7ev07/vU5BpoAAAAAWJLR0QB/wIt3gAAAMFJREFUSMftz9saQkAUhmHtN5KRUhGaMTYx7v/2mkV2NTx0PN/j8LX8lLxuvlAEzbopjV+upvm19NJLL730f/nNdprf7dWDKK1M5Y+qtfxRR4ah60YVQugEmeYZuljW9XZv+VF9e7vM4T14rut5/hMTEtAwipNXny9ecMDzFzDGJE1pmCXJj887noHn98sPZPGgr/Z4PuckpTTq9585xf3iB2BPv3ea+bAHPAkG99j1B/gcOB/w8yIvyi4PMcbG+VZv50KIVIMTEbwAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDgtMjhUMTI6NTI6MTQrMDA6MDDdoGcNAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA4LTI4VDEyOjUyOjE0KzAwOjAwrP3fsQAAAABJRU5ErkJggg==" aria-hidden="true" class="corner"><img data-v-9250de96="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAArCAMAAADfaCGIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEX/6lf/////6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf////uYCr2AAAALXRSTlMAAARtA2loAWYQDxEUco6DhIWGh4iJiouMu+vt7vDx8vP19vf4+fr8/f7v9Pvk+D8OAAAAAWJLR0QB/wIt3gAAAMVJREFUSMft0NkSgiAUgGFt11bL0HJBKM0U3v/1OshYOFKOXfOPV/oJByxrINu2J1P+bogLP5uP9AvjjTfeeOP/8cuV4h3XdRx4mta63M1W8bv9wfOOJ5Hvn0UIoaAtDIMAhRfF83FZ/BrFSYozQujtnudF8YBK6Cnr+SiqUlzXhFIqeCF1yzU+ruTyYn3wrOO5xicY1wR+gHE+8/zych45PqyvbsC182REeDlPe4Dyq4cNsubAwrPO7Wg8Y0y+7n3T3/+4Xr9vjDkt0ZjMAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE4LTA4LTI4VDEyOjUyOjE0KzAwOjAw3aBnDQAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOC0wOC0yOFQxMjo1MjoxNCswMDowMKz937EAAAAASUVORK5CYII=" aria-hidden="true" class="corner"></div><div data-v-9250de96="" class="consultation-title"><p data-v-9250de96="">Je télécharge mon certificat d'examen du permis de conduire</p></div><div data-v-9250de96="" class="download-information">
                                                                                <p data-v-9250de96=""><strong data-v-9250de96="">Dossier :</strong> <span id="code"></span></p>
                                                                                <p data-v-9250de96=""><strong data-v-9250de96="">Né.e le :</strong> <span id="birthDate"></span></p>
                                                                                <p data-v-9250de96=""><strong data-v-9250de96="">Permis :</strong> <span id="category"></span></p>
                                                                            </div>
                                                                            <div data-v-9250de96="" class="submit-form-download">
                                                                                <form action="/download?_method=GET">
                                                                                    <button data-v-9250de96="" type="submit" class="full blue cta-round" id="download-certificate">
                                                                                        Je télécharge mon Certificat
                                                                                    </button>
                                                                                </form>
                                                                            </div>
                                                                            <div data-v-9250de96="" class="small-text">
                                                                                <p data-v-9250de96="">
                                                                                    Ce certificat n'est valable que 4 mois. Demandez dès à présent votre titre officiel du permis de conduire
                                                                                    sur le site de l'Agence nationale des titres sécurisés
                                                                                    (<a data-v-9250de96="" href="https://ants.gouv.fr/" target="_blank" class="font-grey text-underline">ANTS</a>).
                                                                                </p>
                                                                            </div>
                                                                            <div data-v-30d1a800="" data-v-9250de96="" class="small-text voxusagers">
                                                                                <p data-v-30d1a800="">Dans le but d'améliorer votre expérience sur notre site, n'hésitez pas à nous donner votre avis, cela ne
                                                                                    prend qu'une minute.
                                                                                </p>
                                                                                <a data-v-30d1a800="" href="https://voxusagers.numerique.gouv.fr/Demarches/1803?&amp;view-mode=formulaire-avis&amp;nd_mode=en-ligne-enti%C3%A8rement&amp;nd_source=button&amp;key=e86ee1f5fb561ec7dee66b300d370926" target="_blank">
                                                                                    <img data-v-30d1a800="" alt="Je donne mon avis" src="https://voxusagers.numerique.gouv.fr/static/bouton-bleu.svg" title="Je donne mon avis sur cette démarche" class="voxusagers-link"></a>
                                                                            </div>
                                                                        </div>
                                                                        <div data-v-9250de96="" class="small-text logout">
                                                                            <p data-v-9250de96="">
                                                                                Si vous souhaitez vous déconnecter, merci de fermer votre navigateur.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div data-v-ab0d8158="" data-v-9250de96="" class="breadcrumb">
                                                                        <img data-v-ab0d8158="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUxMS0xMS0xMS0xMS0xMS0xMS0xMS0xMS3///+/qEm7AAAACHRSTlMAJ196JkKAeRda72AAAAABYktHRAiG3pV6AAAAL0lEQVQI12NgEDJWYWBgTUtLC2BwA5KJDGpAMomhDEimg8lkqIgYWBaiEqhLkQEAwHkO7qsSuv0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDgtMjlUMTA6MzM6MDMrMDA6MDAd7ty6AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA4LTI5VDEwOjMzOjAzKzAwOjAwbLNkBgAAAABJRU5ErkJggg==" alt="Étape 1"><img data-v-ab0d8158="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUxMS0xMS0xMS0xMS0xMS0xMS0xMS0xMS3///+/qEm7AAAACHRSTlMAJ196JkKAeRda72AAAAABYktHRAiG3pV6AAAAL0lEQVQI12NgEDJWYWBgTUtLC2BwA5KJDGpAMomhDEimg8lkqIgYWBaiEqhLkQEAwHkO7qsSuv0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDgtMjlUMTA6MzM6MDMrMDA6MDAd7ty6AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA4LTI5VDEwOjMzOjAzKzAwOjAwbLNkBgAAAABJRU5ErkJggg==" alt="Étape 2"><img data-v-ab0d8158="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAG1BMVEUxMS0xMS0xMS0xMS0xMS0xMS0xMS0xMS3///+/qEm7AAAACHRSTlMAJ196JkKAeRda72AAAAABYktHRAiG3pV6AAAAL0lEQVQI12NgEDJWYWBgTUtLC2BwA5KJDGpAMomhDEimg8lkqIgYWBaiEqhLkQEAwHkO7qsSuv0AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDgtMjlUMTA6MzM6MDMrMDA6MDAd7ty6AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA4LTI5VDEwOjMzOjAzKzAwOjAwbLNkBgAAAABJRU5ErkJggg==" alt="Étape 3"><img data-v-ab0d8158="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEX/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf/6lf////B8gOPAAAAEHRSTlMAAlmy6iLM6ctat+vm+SPlr5PMUgAAAAFiS0dEEeK1PboAAABXSURBVAjXZY9JEsAgCAQHd40i/39tXCqJmr61FDgDAKS0EaMVYWCdTJwd6uXBtwcK8hEIUVYi0uYJ1+YZm0r5zc/98/75P3jJxz0wv/l5Fmr9ask69n436mEKq8VNNkYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDgtMjlUMTA6MzI6NTgrMDA6MDC4y+0aAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTA4LTI5VDEwOjMyOjU4KzAwOjAwyZZVpgAAAABJRU5ErkJggg==" alt="Étape courante" aria-current="step" class="active">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </section>`;
                                document.getElementById('parent-section').innerHTML = html;
                                document.getElementById('code').innerText = data.body.license;
                                document.getElementById('birthDate').innerText = data.body.day + '/' + data.body.month + '/' + data.body.year;
                                document.getElementById('category').innerText = data.body.category;
                                localStorage.setItem('license', data.body.license);
                            }
                        }
                    });
                }
            }
        });
    });
</script>